<div class="mt-5">
    <div class="end">
        <input [(ngModel)]="searchText" type="text" class="form-control width-60" placeholder="search here..">
    </div>
    <div class="table-responsive mt-5">
        <table class="table">
            <caption>List of Members</caption>
            <thead>
                <tr>
                    <!-- <th>S No</th> -->
                    <th>
                        <label class="col">Flat No</label>
                        <mat-icon (click)="onClickSort('flatNo')" class="col pointer">import_export</mat-icon>   
                    </th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>
                        <label class="col">Gender</label>
                        <mat-icon (click)="onClickSort('gender')" class="col pointer">import_export</mat-icon>
                    </th>
                    <th>Phone</th>
                    <th>Alternate Phone Number</th>
                    <th>Blood Group</th>
                    <th>
                        <label class="col">Type Of Flat</label>
                        <mat-icon (click)="onClickSort('typeOfFlat')" class="col pointer">import_export</mat-icon>
                    </th>
                    <th>
                        <label class="col">Purpose</label>
                        <mat-icon (click)="onClickSort('typeOfUse')" class="col pointer">import_export</mat-icon>   
                    </th>
                    <th>
                        <label class="col">Rented To</label>
                        <mat-icon (click)="onClickSort('rentalType')" class="col pointer">import_export</mat-icon>   
                    </th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user Of users | search : searchText : ['flatNo', 'name', 'email', 'phone', 'alternatePhone', 'bloodGroup', 'typeOfFlat', 'typeOfUse'] | paginate: { itemsPerPage: 10, currentPage: p}; let i=index">
                    <!-- <td>{{i+1}}</td> -->
                    <td>
                        <label *ngIf="!user.isEdit">{{user.flatNo}}</label>
                        <input style="width: 120px;" *ngIf="user.isEdit" type="number" class="form-control" [(ngModel)]="user.flatNo">
                    </td>
                    <td>
                        <label *ngIf="!user.isEdit">{{user.name}}</label>
                        <input style="width: 180px;" *ngIf="user.isEdit" type="text" class="form-control" [(ngModel)]="user.name">
                    </td>
                    <td>
                        <label *ngIf="!user.isEdit">{{user.email}}</label>
                        <input style="width: 180px;" *ngIf="user.isEdit" type="text" class="form-control" [(ngModel)]="user.email">
                    </td>
                    <td>
                        <img *ngIf="user.gender == 'Male'" src="../../../assets/icons/man.svg" width="32px" height="24px">
                        <img *ngIf="user.gender == 'Female'" src="../../../assets/icons/woman.svg" width="32px" height="24px">
                    </td>
                    <td>
                        <label *ngIf="!user.isEdit">{{user.phone}}</label>
                        <input style="width: 180px;" *ngIf="user.isEdit" type="number" class="form-control" [(ngModel)]="user.phone">
                    </td>
                    <td>
                        <label *ngIf="!user.isEdit">{{user.alternatePhone}}</label>
                        <input  style="width: 180px;"*ngIf="user.isEdit" type="number" class="form-control" [(ngModel)]="user.alternatePhone">
                    </td>
                    <td>
                        <label *ngIf="!user.isEdit">{{user.bloodGroup}}</label>
                        <select style="width: 180px;" *ngIf="user.isEdit" [(ngModel)]="user.bloodGroup" class="form-control">
                            <option >-- Blood Group --</option>
                            <option>A Positive</option>
                            <option>A Negative</option>
                            <option>A Unknown</option>
                            <option>B Positive</option>
                            <option>B Negative</option>
                            <option>B Unknown</option>
                            <option>AB Positive</option>
                            <option>AB Negative</option>
                            <option>AB Unknown</option>
                            <option>O Positive</option>
                            <option>O Negative</option>
                            <option>O Unknown</option>
                            <option>Unknown</option>
                        </select>                    
                    </td>
                    <td>
                        <label *ngIf="!user.isEdit">{{user.typeOfFlat}}</label>
                        <div *ngIf="user.isEdit">
                            <input  [(ngModel)]="user.typeOfFlat" type="radio" value="1bhk" name="flat"> 1 BHK &nbsp;
                            <input [(ngModel)]="user.typeOfFlat" type="radio" value="2bhk" name="flat"> 2 BHK
                        </div>
                    </td>
                    <td>
                        <label *ngIf="!user.isEdit">{{user.typeOfUse}}</label>
                        <div *ngIf="user.isEdit">
                            <input  [(ngModel)]="user.typeOfUse" type="radio" value="own" name="use"> Own Use &nbsp;
                            <input  [(ngModel)]="user.typeOfUse" type="radio" value="rental" name="use"> Rental
                        </div>    
                    </td>
                    <td>
                        <label *ngIf="!user.isEdit && user.typeOfUse == 'rental'">{{user.rentalType}}</label>
                        <div *ngIf="user.isEdit && user.typeOfUse == 'rental'">
                            <input  [(ngModel)]="user.rentalType" type="radio" value="Bachelor" name="rentedto"> Bachelor &nbsp;
                            <input  [(ngModel)]="user.rentalType" type="radio" value="Family" name="rentedto"> Family &nbsp;
                            <input  [(ngModel)]="user.rentalType" type="radio" value="Vacant" name="rentedto"> Vacant
                        </div>    
                    </td>
                    <td *ngIf="adminAccess == 'admin' || adminAccess == 'sadmin'">
                        <div class="row" style="width: 200px;">
                            <button *ngIf="!user.isEdit" class="my-2 mx-2 col btn btn-warning" (click)="onEdit(user)">Edit</button>
                             <button *ngIf="!user.isEdit" class="my-2 col btn btn-danger" (click)="onDelete(user)">Delete</button>
                        </div>
                        <div class="row" style="width: 200px;">
                            <button *ngIf="user.isEdit" class="my-2 mx-2 col btn btn-info" (click)="onCancel(user)">Cancel</button>
                            <button *ngIf="user.isEdit" class="my-2 btn  col btn-success" (click)="onSave(user)">Save</button>    
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div style="float: right;" *ngIf="users.length > 0">
            <pagination-controls (pageChange)="onPageChange($event)"></pagination-controls>
        </div>
    </div>
</div>
