<!-- Sidebar -->
<ul [ngClass]="isToggle ? 'toggled' : ''" class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <!-- <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div> -->
        <div class=" mx-3">Hi Tech City</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/dashboard/members">
           <img src="../../../assets/icons/members.png" width="24px"> &nbsp;
            <span>Members</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="[ '/dashboard/profile/', userDetails.email]">
            <img src="../../../assets/icons/profile.png" width="24px"> &nbsp;
            <span>Profile</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/dashboard/complaints">
            <img src="../../../assets/icons/complaint.png" width="24px"> &nbsp;
            <span>Complaints</span></a>
    </li>
    <!-- Divider -->
    <hr class="sidebar-divider">
</ul>
<!-- End of Sidebar -->