
<div>
    <span>Raise Complaints and Service Requests.</span>
    <div class="text-end mb-3">
        <button class="btn btn-info" data-toggle="modal" data-target="#exampleModal">Raise Complaint</button>
    </div>
    <div class="mt-5">
        <div class="text-end mb-5">
            <input [(ngModel)]="searchText" type="text" class="form-control width-60" placeholder="search here..">
        </div>
        <div class="table-responsive">
            <table class="table">
                <caption>List of Complaints/Services History</caption>
                <thead>
                    <tr>
                        <th>S No</th>
                        <th>Complaint/Service Title</th>
                        <th>Description</th>
                        <th>Raised By</th>
                        <th>
                            <label>Flat No</label>
                            <mat-icon (click)="onClickSort('flatNo')" class="col pointer">import_export</mat-icon>   
                        </th>
                        <th>
                            <label>Raised Date</label>
                            <mat-icon (click)="onClickSort('raisedDate')" class="col pointer">import_export</mat-icon>   
                        </th>
                        <th>Contact No</th>
                        <th>Email ID</th>
                        <th>
                            <label>Status</label>
                            <mat-icon (click)="onClickSort('status')" class="col pointer">import_export</mat-icon>   
                        </th>
                        <th>Remarks</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- <ng-template *ngIf="complaintsList.length > 0"> -->
                        <tr *ngFor="let complaint of complaintsList | search : searchText : ['flatNo', 'raisedBy', 'email', 'contactNo', 'status', 'title', 'complaint', 'raisedDate'] | paginate: { itemsPerPage: 5, currentPage: p}; let i=index">
                            <td>{{i+1}}</td>
                            <td>{{complaint.title}}</td>
                            <td>
                                <textarea disabled [value]="complaint.complaint"></textarea>
                            </td>
                            <td>{{complaint.raisedBy}}</td>
                            <td>{{complaint.flatNo}}</td>
                            <td>{{complaint.raisedDate | date}}</td>
                            <td>{{complaint.contactNo}}</td>
                            <td>{{complaint.email}}</td>
                            <td>
                                <button *ngIf="!complaint.isEdit" [ngClass]="{'btn btn-danger': complaint.status == 'Pending', 'btn btn-success': complaint.status == 'Resolved', 'btn btn-warning':complaint.status == 'Work in Progress'}">{{complaint.status}}</button>
                                <select style="width: 180px" [(ngModel)]="complaint.status" *ngIf="complaint.isEdit" class="form-control">
                                    <option>Pending</option>
                                    <option>Work in Progress</option>
                                    <option>Resolved</option>
                                </select>
                            </td>
                            <td>
                                <label  *ngIf="!complaint.isEdit">{{complaint.remarks}}</label>
                                <textarea style="width: 150px"  *ngIf="complaint.isEdit" [(ngModel)]="complaint.remarks" type="text" class="form-control" placeholder="enter remorks"></textarea>
                            </td>
                            <td *ngIf="adminAccess == 'admin' || adminAccess == 'sadmin' || userDetails.email == complaint.email">
                                <div class="row" style="width: 200px;">
                                    <button *ngIf="!complaint.isEdit" class="my-2 mx-2 col btn btn-info" (click)="complaint.isEdit = !complaint.isEdit">Edit</button>
                                     <button *ngIf="!complaint.isEdit && adminAccess == 'sadmin'" class="my-2 col btn btn-danger" (click)="onDelete(complaint)">Delete</button>
                                </div>
                                <div class="row" style="width: 200px;">
                                    <button *ngIf="complaint.isEdit" class="my-2 mx-2 col btn btn-info" (click)="complaint.isEdit = !complaint.isEdit">Cancel</button>
                                    <button *ngIf="complaint.isEdit" class="my-2 col btn btn-success" (click)="onSave(complaint)">Save</button>    
                                </div>
                            </td>
                        </tr>
                    <!-- </ng-template> -->
                    <tr class="text-centre" *ngIf="complaintsList.length == 0">
                       <td colspan="9"> No Complaints!</td> 
                    </tr>
                </tbody>
            </table>
            <div style="float: right;" *ngIf="complaintsList.length > 0">
                <pagination-controls (pageChange)="onPageChange($event)"></pagination-controls>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title text-primary" id="exampleModalLabel">Raise a Complaint</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
                <div class="col">
                    <input [(ngModel)]="newComplaint.title" type="text" class="mt-3 form-control" placeholder="Complaint Title">
                </div>
          </div>
          <div class="row">
            <div class="col">
                <textarea [(ngModel)]="newComplaint.complaint" class="mt-3 form-control" placeholder="Complaint Description"></textarea>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" (click)="onClickComplaint()" data-dismiss="modal" [disabled]="newComplaint.title == '' || newComplaint.complaint == ''" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>